body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;

}
header { 

}
article {
	margin: 0 auto;
 
}
section {

}
section#ebook_vs_broche {
	margin-top: 4em;
}s
footer {

}
h2 {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.3em;
    clear: both;
    margin: 2em 0 0em;
    display: block;
    float: left;
}
h2.first {
	margin-top: 0;
}
.teaser {
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	line-height: 24px;
	float: left;
	clear: both;
	margin: 0.6em 0 1.3em;
}
.credit_photo {
	font-size: 0.75em;
	float:left;
	clear: both;
	margin-top: 0.4em;
}

.entry_book {
	width: 100%;
	clear: both;
	padding: 0;
}
.entry_book .left, .entry_book .middle, .entry_book .right {
	float: left;
}
.entry_book:first-child {

}


.entry_book .left {
	width: 39%;
}
.entry_book .right {
	width: 39%;
}
.entry_book .middle {
	width: 12%;
}
.entry_book .diff {
	width: 10%;

}


.author_img {
	margin: 0 auto;
	width: 90%;
}
.entry_book .author_img img {
	width: 100%;
}
.entry_book .book_info {
	padding-top: 0em;
}
.entry_book .book_info_hidden {
	display: none;
}
.entry_book .bar_hidden {
	display: none;
}
#ebook_vs_poche .poche_non {
	display: none;
}
.prices .poche_non {
	display: none;
}
.entry_book	.bar {
	height: 25px;
	margin-top: 1.3em; 
}
.left .bar {
	float: right;
	background-color: #07780F;
}


.list {
	height: 480px;
	padding-right: 20px;

}
.phancy-scroller {
	border-bottom: 2px solid lightgrey;	
	border-top: 2px solid lightgrey;
	clear: both;
}



.left_info {
	width: 75%;
	margin-right: 5%;
	float: left;
	padding: 0.4em 0 0;
}
.right_info {
	width: 75%;
	margin-left: 5%;
	float: left;
	padding: 0.4em 0 0;
}
.more {
	float: left;
	width: 96%;
	height: 0;
	overflow: hidden;
	padding: 0em 2%;
	background-color: #E6E2E2;
	margin-top: 0em;
}
.more_visible {
	height: 190px;
	padding: 0.4em 2%;
	margin-top: 1em;


}
.prices {
	font-size:0.8em;
	line-height: 1.4em;

}
.prices table {
	width: 100%;
}
.prices td:nth-child(2) {
	width: 27%;
	text-align: right;
	vertical-align: top;	
}
.prices td:nth-child(1) {
	width: 70%;
	margin-right: 3%;
	text-align: left;
	vertical-align: top;
}


.title {
	font-weight: bold;
	font-size: 0.95em;
}


.author {
	color: black ;
	text-decoration: none;
	cursor: pointer;
	margin-top: 0.3em;
	font-size: 0.8em;
	line-height: 1.4em;
}

.author span {
	color: #ce0005;
	text-decoration: underline;
	font-size: 0.8em;

}

.diff {
	float: left;
	margin: 0.4em 0 0;
}

.diff div {
	float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 400;
}

.left .diff {
	float: right;
}
.diff_grey:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #887F7F;
    border-radius: 50%;
}

.diff_red:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #B50000;
    border-radius: 50%;
}

.diff_green:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #07780F;
    border-radius: 50%;
}



.right .bar {
	background-color: #B50000;
}
.right .diff  {
	float: left;
}
.right .diff:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #07780F;
    border-radius: 50%;
}

.transition_height {
	transition: height 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out;
}





















/* Calage mobile */


@media screen and (max-width: 568px) {
	
	.diff div {
		font-size: 0.8em;
	}

	.entry_book  .bar {
		margin-top: 1em;
		height: 18px;
	}
	.title, .author {
		font-size: 0.85em;
	}


}

@media screen and (max-width: 420px) {

	article {
		padding: 0 ;
	}
	
	.diff div {
		font-size: 0.6em;
	}

	.entry_book .bar {
		margin-top: 0.7em;
		height: 16px;
	}
	.title, .author {
		font-size: 0.6em;
	}


}		
